.code-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* height: 100%; */
}

.code-block {
  flex: 1;
  border-radius: 5px;
  background-color: #1d1f21;
  overflow-y: auto;
  overflow-x: hidden;
}

.code-actions {
  padding-top: 14px;
  height: 56px;
}

.prettyprint {
  margin: 0;
  padding: 20px;
}

.button-group > .ui.button {
  margin-right: 14px;
}