.code-block {
  position: relative;
  flex: 2;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  background-color: #1d1f21;
}

.prettyprint {
  margin: 0;
  padding: 20px;
}

.code-actions {
  margin-top: 40px;
}
