.code-block {
  position: relative;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 40px;
  border-radius: 3px;
}

.prettyprint {
  margin: 0;
  padding: 50px 20px 20px 20px;
}

.copy-button {
  position: absolute;
  top: 0;
  left: 0;
}
