html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background-color: #f6f6f6;
}

body {
    display: flex;
    flex-direction: column;
}

#root,
.App {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.info {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  text-align: left;
  margin-top: 40px;
}
.info.hidden {
  display: none;
}

.inputs {
  flex: 1;
  margin-right: 40px;
}

.outputs {
    flex: 1;
}